.beian img {
  height: 15px;
  width: 15px;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-inner div {
  display: inline-block;
}
